{% extends 'main.html' %}
{% block content %}
<div class="user_card">
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="logform">
            <input type="text" name="username" placeholder="Username...">
            <br>
            <input type="password" name="password" placeholder="Password...">
            <br>
            <input type="submit" value="Log in">
        </div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </form>

    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Don't have an Account? <a href="{% url 'register' %}" class="ml-2">Sign up</a>
        </div>
    </div>
</div>
{% endblock content %}